.post .info{
	margin: 10px 0 30px;
	border-bottom: 1px solid #ccc;
	padding: 0 0 5px 0;
}
.post .info span{
	font-size: 1.2rem;
	color: #999;
}
.note .post{
	padding: 0 10px;
}




#divider {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
#divider:before {
  margin-left: -50%;
  text-align: right;
}
#divider:after {
  margin-left: 1%;
}
#divider:before,
#divider:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 49%;
  height: 1px;
  content: '\a0';
  background-color: #ccc;
}
#divider a{
	color: #464646;
}
#divider a:hover{
	color: #ccc;
}